* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffff0;
  overflow-x: hidden;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
